html {
  font-size: 1rem;
  background-color: #fbfbfb;
  color: #000;
}

body {
  margin: 0;
  padding: 0.75rem;
}

h1,
h2,
p,
ul {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}
