@font-face {
  font-family: "Pelikan Semi Mono";
  src: url("../fonts/ABCPelikanSemi-Mono-Book-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pelikan Semi Mono";
  src: url("../fonts/ABCPelikanSemi-Mono-Medium-Trial.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

html {
  font-family: "Pelikan Semi Mono", monospace;
  font-size: 1rem;
  background-color: #fbfbfb;
  color: #000;
}

body {
  margin: 0;
  padding: 2rem;
  max-width: 40ch;
}

h1,
h2,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: "– " outside;
  margin-inline-start: 1.7ch;
}
