/* Typography */

/* The .user-agent class is used to keep the default styling of the tags */

h1:not(.user-agent) {
  text-align: center;
  margin-block-end: 2rem;
}

h1:not(.user-agent),
h2:not(.user-agent),
h3:not(.user-agent) {
  text-transform: uppercase;
}

h1:not(.user-agent),
h2:not(.user-agent),
h3:not(.user-agent),
h4:not(.user-agent),
h5:not(.user-agent),
h6:not(.user-agent) {
  font-size: inherit;
  font-weight: inherit; /* Prevents fake bolding of headings */
}

h2:not(.user-agent) {
  text-align: center;
  margin-block: 1rem;
}

p:not(.user-agent) {
  text-indent: 2ch;
  margin-block: 1rem;
}

p:not(.user-agent):first-child,
ul p:not(.user-agent),
ol p:not(.user-agent),
h1 + p:not(.user-agent),
h2 + p:not(.user-agent),
h3 + p:not(.user-agent) {
  text-indent: 0;
}

strong,
b {
  font-family: "Pelikan Semi Mono";
  font-weight: bold;
}

em,
i {
  font-family: "Pelikan Semi Mono";
  font-style: italic;
}

code {
  font-family: "Pelikan Mono", "Courier New", Courier, monospace;
}

ul li:not(.user-agent) {
  list-style: "– " outside;
  margin-inline-start: 1.7ch;
}

ul li:not(.user-agent).active {
  list-style: "• " outside;
  color: blue;
  margin-inline-start: 1.65ch;
  padding-left: 0.05ch;
}

code {
  border-radius: 0.5rem;
}

*:not(pre) > code,
*:not(pre) > code.hljs {
  background-color: #f0f0f0;
  padding: 0 0.5ch;
}

.wrap {
  white-space: pre-wrap;
}

/* General */

body {
  padding: 0 8px;
  background-color: #fbfbfb;
  font-family: "Pelikan Semi Mono";
  font-feature-settings: "zero";
}

main:not(.user-agent) {
  min-height: 100vh;
}

aside h3:not(:first-child) {
  margin-top: 1rem;
}
